/*
palette----
220C10 redish (licorice)
506c64 dark green (feldgrau)
77cbb9 light green/blue (tiffany blue)
75b8c8 light blue (moonstone)
cdd3d5 silver (silver)
*/
:root {
  /* used for updating the node glow interval */
  --animation-time: 2s;
  --header-element-color: #212121;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bitter", sans-serif;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 16px;
}

/* Medium Screens (Tablets) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Small Screens (Phones) */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

.loading-page {
  background-color: #111827;
  z-index: 3;
}

.social-container {
  position: relative;
  padding: 3%;
  padding-bottom: 20px;
  text-align: center;
  z-index: 4;
}

.social-style-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-button {
  position: relative;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  transition: transform 0.3s ease;
  max-width: 160px;
}

.social-button:hover {
  transform: scale(1.1);
}

.social-button a {
  text-decoration: none;
  color: #000000ab;
}

.social-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 28px;
}

.dividor {
  width: 5px;
  height: 9vh;
  background-color: #7c7c7c70;
}

.project-container {
  background: #f9faf8;
}

.project-title {
  text-align: center;
  line-height: 3;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5vh;
}
.project-title p {
  font-size: 28px;
}

.social-button.project {
  background-color: #f9faf8;
  color: black;
}
.github-button.project {
  color: black;
}
/* .education-section {
  width: 70vw;
  min-width: 350px;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #bdbdbdb7;
  border-radius: 20px;
  line-height: normal;
  overflow-x: auto;
  gap: 20px;
} */

.project-section {
  line-height: 1;
  width: 60vw; /* Responsive width */
  min-width: 350px;
  max-width: 800px;
  height: auto;
  max-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #e2e2e1;
  border-radius: 30px;
  gap: 20px;
  transition: transition 0.8s ease-out;
}

@keyframes scale-on-scroll {
  from {
    scale: 0.4;
  }
  to {
    scale: 1;
  }
}

.sm-language-image {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-madewith {
  display: flex;
  justify-content: inherit;
  align-items: center;
  gap: 10px;
}

.project-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

.project-description {
  flex: 1;
  text-align: left;
  font-size: inherit;
}

.project-button-container {
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

.project-description h2 {
  text-align: left;
  font-size: 28px;
}

.project-description h4 {
  font-size: 24px;
  font-weight: 200;
  opacity: 0.8;
}

@media (max-width: 800px) {
  .project-description h2 {
    font-size: 24px;
  }
  .project-description h4 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .project-description h2 {
    font-size: 20px;
  }
  .project-description h4 {
    font-size: 16px;
  }
  .sm-language-image {
    scale: 0.6;
  }
}

.project-description p {
  font-size: inherit;
  line-height: 1.4;
}

@media (max-width: 1180px) {
  .project-image {
    width: 0px;
    height: 0px;
  }
  .project-section {
    gap: 0px;
  }
  .project-description h2 {
    font-size: 24px;
  }
  .project-description h4 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .project-description h2 {
    font-size: 20px;
  }
  .project-description h4 {
    font-size: 16px;
  }
}

.skill-container {
  width: 100vw;
  height: auto;
  overflow: auto;
  background-color: #f9faf8;
  display: flex; /* Center the grid */
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.skills {
  display: grid; /* Turn this container into a grid */
  grid-template-columns: repeat(4, auto); /* 4 items per row */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 20px; /* Space between grid items */
  max-width: 800px; /* Optional: Restrict the container width */
  transition: grid-template-columns 0.6s ease, gap 0.6s ease; /* Smooth transitions for layout changes */
}

.skill-title {
  text-align: center;
  line-height: 3;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill-title p {
  font-size: 28px;
}

.skill {
  width: 100px;
  height: 150px;
  text-align: center; /* Center text below the skill image */
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: transform 0.3s ease, scale 0.6s ease; /* Smooth scaling */
}

@keyframes slide-in-from-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.skill:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.skill-image {
  background-size: contain; /* Ensure the image fits inside */
  background-position: center;
  background-repeat: no-repeat;
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  margin: 0 auto; /* Center the image */
}

.skill p {
  margin-top: 10px;
  font-size: inherit;
  color: #333333;
}

/*
messing with the width of the skill its like half the size of hte image with the shadow might have to get svgs instead of images
that would make a lot more sense  (svg - scalable vector gradient?)
*/

@media (max-width: 600px) {
  .skill {
    width: 70px;
    height: 120px;
  }
  .skill-image {
    width: 50px;
    height: 50px;
  }
}

.education-container {
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 10vh;
}

.education-section {
  width: 60vw;
  min-width: 350px;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #bdbdbdb7;
  border-radius: 20px;
  line-height: normal;
  overflow-x: hidden;
  gap: 20px;
  transition: transform 0.2s ease;
}

.education-section:hover {
  transform: scale(1.05);
}
.education-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.education-title {
  text-align: center;
  line-height: 3;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.education-title p {
  font-size: 28px;
}

.education-description {
  flex: 1;
  text-align: left;
}

.education-description h2 {
  margin-bottom: 10px;
  font-size: 28px;
}

.education-description p {
  font-size: inherit;
  line-height: 1.6;
}

@media (max-width: 800px) {
  .education-image {
    width: 200px;
    height: 200px;
  }
  .education-description h2 {
    font-size: 20px;
  }
}
@media (max-width: 520px) {
  .education-image {
    width: 100px;
    height: 100px;
  }
  .education-description h2 {
    font-size: 20px;
  }
}

.network {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  padding-left: 50px;
}

.input-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.output-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.hidden-layer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hidden-layer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.node {
  width: 20px;
  height: 20px;
  background-color: #00adb5;
  border-radius: 50%;
  position: relative;
  animation: glow var(--animation-time) infinite;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px #00adb5, 0 0 30px #00adb5;
  }
  50% {
    box-shadow: 0 0 20px #00fff5, 0 0 50px #00fff5;
  }
}

footer {
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.footer-text {
  font-size: 14px;
  margin-top: 10px;
}
